<!doctype html>
<html>
<title>Simcraft Me</title>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/masterStyle.css') }}">
</head>

<body>
<div id=centerDivTitle>
	<span id="centerSpanTitle">
		<h1 id='title'>Simcraft Me</h1>
	</span>
</div>
</br></br></br></br></br>
<div id='centerDivIndex'>
	<span id='indexSpan'>
		<a class='indexButton' href="/simple">Simple Sim</a>
		<a class='indexButton' href="/advanced">Advanced Sim</a>
	</span>
</div>
</body>
</html>
